<div class="resources-container">
  <!-- Display General Resources -->
  <div class="general-resources">
    <h2>General Resources</h2>
    <ul>
      <li *ngFor="let resource of resources">
        {{ resource.resource_name }} -
        <a href="{{ resource.resource_link }}" target="_blank">Link</a>
        <!-- Add more resource details as needed -->
      </li>
    </ul>
  </div>

  <!-- User Resource Management -->
  <div *ngIf="isAuthenticated" class="user-resources">
    <h2>Your Resources</h2>
    <button (click)="showAddResourceForm = !showAddResourceForm">
      Add New Resource
    </button>

    <!-- Form for Adding a New User Resource -->
    <div *ngIf="showAddResourceForm">
      <form
        (ngSubmit)="createUserResource(newUserResourceForm.value)"
        #newUserResourceForm="ngForm"
      >
        <input
          type="text"
          ngModel
          name="resource_name"
          placeholder="Resource Name"
          required
        />
        <input
          type="text"
          ngModel
          name="resource_link"
          placeholder="Resource Link"
          required
        />
        <select ngModel name="resource_type" required>
          <option value="" disabled selected>Select Resource Type</option>
          <option value="Technology">Technology</option>
          <option value="Financial">Financial</option>
          <option value="Medical">Medical</option>
        </select>
        <textarea
          ngModel
          name="description"
          placeholder="Description (Optional)"
        ></textarea>
        <button type="submit">Add Resource</button>
      </form>
    </div>
    <!-- List of User Resources -->
    <ul>
      <li *ngFor="let userResource of userResources">
        {{ userResource.resource_name }} -
        <a href="{{ userResource.resource_link }}" target="_blank">Link</a>
        <!-- Buttons for Edit and Delete -->
        <button (click)="setEditingResource(userResource)">Edit</button>
        <button (click)="deleteUserResource(userResource.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
