.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  max-width: 600px;
  margin: 16px auto; /* Center the content horizontally */
  padding-top: 16px; /* Add padding at the top */
}

button {
  margin-top: 16px;
}
