.sidenav-container {
  height: 100vh;
  background-color: rgba(0, 255, 255, 0);
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.content {
  margin: 16px auto; /* Center the content horizontally */
  padding-top: 16px; /* Add padding at the top */
}

button {
  margin: 36px auto;
  display: flex;
  align-items: center;
}

.getting-started {
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(82, 129, 129);
  color: aliceblue;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 35px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  color: cornsilk;
}

p {
  font-size: large;
  font-weight: 700;
}

li {
  font-weight: 600;
}

strong {
  color: rgb(201, 243, 201);
}