<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" position="start">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()">Close Menu</a>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()"
        >Dashboard</a
      >
      <a mat-list-item routerLink="/questions" (click)="sidenav.toggle()"
        >Interview Questions</a
      >
      <a mat-list-item routerLink="/interviews" (click)="sidenav.toggle()"
        >Interview Schedule</a
      >
      <a mat-list-item routerLink="/performances" (click)="sidenav.toggle()"
        >Performance Reviews</a
      >
      <a mat-list-item routerLink="/resources" (click)="sidenav.toggle()"
        >Interview Resources</a
      >
      <a mat-list-item routerLink="/account-settings" (click)="sidenav.toggle()"
        >Account Settings</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar *ngIf="isLoggedIn()">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>InterviewPrepper</span>
      <span class="spacer"></span>
      <span *ngIf="username">Welcome, {{ username }}</span>
      <!-- <div class="messages-icon" *ngIf="isLoggedIn()" (click)="openChat()">
        <i class="fa fa-comments"></i>
        <span class="message-count" *ngIf="messageCount > 0">{{
          messageCount
        }}</span>
      </div> -->

      <button *ngIf="username" mat-button (click)="logout()">Logout</button>
    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
